<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>download</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<description>The system start interface</description>
		<display-name>StartUp</display-name>
		<servlet-name>StartUp</servlet-name>
		<servlet-class>com.dreamwin.download.StartUp</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<description>The servlet dispatcher</description>
		<display-name>ServletDispatcher</display-name>
		<servlet-name>ServletDispatcher</servlet-name>
		<servlet-class>com.dreamwin.cclib.naga.core.ServletDispatcher</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletDispatcher</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
	
</web-app>